/* css for likert scale */

.jspsych-survey-likert-preamble {
	font-size: 26px;
	color: #000080;
}

.jspsych-survey-likert-statement{
	font-size: 22px;
}

.limit_word{
    max-width:130px;
    word-wrap:break-word;
}

.limit_word_heading{
    max-width:1300px;
    word-wrap:break-word;
}


 /* Input style */
/* 
input[type="radio"] {
     opacity: 0;
     width: 0;
     height: 0;
 }
 */
 
/* 
input[type=radio] {
    border: 0px;
    width: 0%;
    height: 1em;
}
 */

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}